<!--header.html-->
<script src="../../js/script.js"></script><%= _.template(require('../includes/common/header.html').default)({}) %>




<section class="about-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="title-head">
                    <h1>About The Slim Weight Loss Clinic</h1>
                </div>
                <div class="description">
                    <p>In 2012, Matthew Laurenzo and Kenneth Figueira created Renew Vitality to offer effective hormone replacement therapy (HRT) to men suffering from age-related hormone imbalances and testosterone deficiencies. Twelve years later, Renew Vitality now utilizes the HRT concept to help patients struggling with chronic weight gain and obesity through the administration of Semaglutide weight loss injections at Slim Weight Loss Clinic.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image-wrapper">
                    <img src="./img/about-banner-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-section">
    <div class="container">
        <div class="title-block">
            <h2>Our Mission</h2>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="description">
                    <p>Slim Weight Loss Clinic is dedicated to helping men and women lose excess body fat to improve their physical health and treat serious weight-related medical conditions such as diabetes, heart disease, and joint inflammation. We understand that losing weight can become a tedious journey that takes time to yield results, which often leads to patients falling behind or giving up on their progress. With that in mind, the medical team at Slim Weight Loss Clinic focuses on customizing specific weight loss programs for each patient so that every individual can manage their treatment at a pace that’s comfortable for them.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="description">
                    <p>With decades of combined experience with doctors such as Dr. Jacquemin, Dr. Kawesch, and Dr. Marshall, the staff at Slim Weight Loss Clinic will expertly review how your body’s physiology is affecting your eating habits and physical activity to determine the underlying cause of your weight gain. Afterward, our doctors will work together to help design and utilize the best Semaglutide treatment to address your specific issues.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-treatments">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 content-wrapper">
                <div class="title-block">
                    <h2>Our Treatments</h2>
                </div>
                <div class="content-block">
                    <p>Since there are various causes of chronic weight gain, we offer several types of Semaglutide injections to treat specific conditions. Our Semaglutide treatments include:</p>
                    <h5>Ozempic</h5>
                    <p> (for women suffering weight gain related to Type 2 diabetes)</p>
                    <h5>Wegovy</h5>
                    <p>With Semaglutide, we can help Type 2 diabetics manage their insulin and blood sugar levels and, in doing so, help them lose weight. Our Semaglutide treatments can also help overweight patients suppress their appetite and stick to a more well-balanced diet so they can further maximize their weight loss results through regular exercise.</p>
                    <p>(for women struggling with weight management and obesity)</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-treatments-slider slider-wrapper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="treatment-card back-grey">
                                <div class="treatment-image">
                                    <img src="./img/semaglutide.png" alt="">
                                </div>
                                <div class="tags-wrapper">
                                    <div class="tag">
                                        <span>Prescription Only</span>
                                    </div>
                                    <div class="tag">
                                        <span>Supply available</span>
                                    </div>
                                    <div class="tag">
                                        <span>Injection</span>
                                    </div>
                                </div>
                                <div class="h3">Semaglutide</div>
                                <a href="#" class="link-black">Learn more</a>
                                <a href="#" class="btn btn-black">Get Started</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="treatment-card back-grey">
                                <div class="treatment-image">
                                    <img src="./img/wegovy.png" alt="">
                                </div>
                                <div class="tags-wrapper">
                                    <div class="tag">
                                        <span>Prescription Only</span>
                                    </div>
                                    <div class="tag">
                                        <span>Supply available</span>
                                    </div>
                                    <div class="tag">
                                        <span>Injection</span>
                                    </div>
                                </div>
                                <div class="h3">Wegovy</div>
                                <a href="#" class="link-black">Learn more</a>
                                <a href="#" class="btn btn-black">Get Started</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="treatment-card back-grey">
                                <div class="treatment-image">
                                    <img src="./img/metformin.png" alt="">
                                </div>
                                <div class="tags-wrapper">
                                    <div class="tag">
                                        <span>Prescription Only</span>
                                    </div>
                                    <div class="tag">
                                        <span>Supply available</span>
                                    </div>
                                    <div class="tag">
                                        <span>Pills</span>
                                    </div>
                                </div>
                                <div class="h3">Metformin</div>
                                <a href="#" class="link-black">Learn more</a>
                                <a href="#" class="btn btn-black">Get Started</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="treatment-card back-grey">
                                <div class="treatment-image">
                                    <img src="./img/tirzepatide.png" alt="">
                                </div>
                                <div class="tags-wrapper">
                                    <div class="tag">
                                        <span>Prescription Only</span>
                                    </div>
                                    <div class="tag">
                                        <span>Supply available</span>
                                    </div>
                                    <div class="tag">
                                        <span>Injection</span>
                                    </div>
                                </div>
                                <div class="h3">Tirzepatide</div>
                                <a href="#" class="link-black">Learn more</a>
                                <a href="#" class="btn btn-black">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>