<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>

<section class="blog-section">
    <div class="container">
        <div class="title-head">
            <h1>Blog</h1>
        </div>
        <div class="blog-grid">
            <div class="blog-card">
                <div class="blog-card-author">Dr. Branden Staller</div>
                <div class="blog-card-title">Wegovy (Semaglutide) for Weight Loss</div>
                <div class="blog-card-description">
                    <p>
                        Weight loss has always been a hot topic in the United States, especially as abnormal weight gain and obesity have become the leading causes of serious health conditions such as high blood pressure, heart disease, and diabetes. But now that health has once again become a primary focus in the modern era, patients and physicians alike have focused their attention on finding ways to treat rapid weight gain and achieve healthy weight loss.
                    </p>
                </div>
                <div class="blog-card-meta">
                    <div class="blog-card-date">February 7, 2023</div>
                    <a href="#" class="link-purple">Read more</a>
                </div>
            </div>
            <div class="blog-card">
                <div class="blog-card-author">Dr. Branden Staller</div>
                <div class="blog-card-title">What’s the difference between Saxenda and Victoza?</div>
                <div class="blog-card-description">
                    <p>
                        Weight loss has always been a hot topic in the United States, especially as abnormal weight gain and obesity have become the leading causes of serious health conditions such as high blood pressure, heart disease, and diabetes. But now that health has once again become a primary focus in the modern era, patients and physicians alike have focused their attention on finding ways to treat rapid weight gain and achieve healthy weight loss.
                    </p>
                </div>
                <div class="blog-card-meta">
                    <div class="blog-card-date">February 7, 2023</div>
                    <a href="#" class="link-purple">Read more</a>
                </div>
            </div>
            <div class="blog-card">
                <div class="blog-card-author">Dr. Branden Staller</div>
                <div class="blog-card-title">How to take Victoza</div>
                <div class="blog-card-description">
                    <p>
                        Weight loss has always been a hot topic in the United States, especially as abnormal weight gain and obesity have become the leading causes of serious health conditions such as high blood pressure, heart disease, and diabetes. But now that health has once again become a primary focus in the modern era, patients and physicians alike have focused their attention on finding ways to treat rapid weight gain and achieve healthy weight loss.
                    </p>
                </div>
                <div class="blog-card-meta">
                    <div class="blog-card-date">February 7, 2023</div>
                    <a href="#" class="link-purple">Read more</a>
                </div>
            </div>
            <div class="blog-card">
                <div class="blog-card-author">Dr. Branden Staller</div>
                <div class="blog-card-title">What’s the difference between Saxenda and Victoza?</div>
                <div class="blog-card-description">
                    <p>
                        Weight loss has always been a hot topic in the United States, especially as abnormal weight gain and obesity have become the leading causes of serious health conditions such as high blood pressure, heart disease, and diabetes. But now that health has once again become a primary focus in the modern era, patients and physicians alike have focused their attention on finding ways to treat rapid weight gain and achieve healthy weight loss.
                    </p>
                </div>
                <div class="blog-card-meta">
                    <div class="blog-card-date">February 7, 2023</div>
                    <a href="#" class="link-purple">Read more</a>
                </div>
            </div>
            <div class="blog-card">
                <div class="blog-card-author">Dr. Branden Staller</div>
                <div class="blog-card-title">How to take Victoza</div>
                <div class="blog-card-description">
                    <p>
                        Weight loss has always been a hot topic in the United States, especially as abnormal weight gain and obesity have become the leading causes of serious health conditions such as high blood pressure, heart disease, and diabetes. But now that health has once again become a primary focus in the modern era, patients and physicians alike have focused their attention on finding ways to treat rapid weight gain and achieve healthy weight loss.
                    </p>
                </div>
                <div class="blog-card-meta">
                    <div class="blog-card-date">February 7, 2023</div>
                    <a href="#" class="link-purple">Read more</a>
                </div>
            </div>
            <div class="blog-card">
                <div class="blog-card-author">Dr. Branden Staller</div>
                <div class="blog-card-title">Wegovy (Semaglutide) for Weight Loss</div>
                <div class="blog-card-description">
                    <p>
                        Weight loss has always been a hot topic in the United States, especially as abnormal weight gain and obesity have become the leading causes of serious health conditions such as high blood pressure, heart disease, and diabetes. But now that health has once again become a primary focus in the modern era, patients and physicians alike have focused their attention on finding ways to treat rapid weight gain and achieve healthy weight loss.
                    </p>
                </div>
                <div class="blog-card-meta">
                    <div class="blog-card-date">February 7, 2023</div>
                    <a href="#" class="link-purple">Read more</a>
                </div>
            </div>
            <div class="blog-card">
                <div class="blog-card-author">Dr. Branden Staller</div>
                <div class="blog-card-title">What’s the difference between Saxenda and Victoza?</div>
                <div class="blog-card-description">
                    <p>
                        Weight loss has always been a hot topic in the United States, especially as abnormal weight gain and obesity have become the leading causes of serious health conditions such as high blood pressure, heart disease, and diabetes. But now that health has once again become a primary focus in the modern era, patients and physicians alike have focused their attention on finding ways to treat rapid weight gain and achieve healthy weight loss.
                    </p>
                </div>
                <div class="blog-card-meta">
                    <div class="blog-card-date">February 7, 2023</div>
                    <a href="#" class="link-purple">Read more</a>
                </div>
            </div>
            <div class="blog-card">
                <div class="blog-card-author">Dr. Branden Staller</div>
                <div class="blog-card-title">How to take Victoza</div>
                <div class="blog-card-description">
                    <p>
                        Weight loss has always been a hot topic in the United States, especially as abnormal weight gain and obesity have become the leading causes of serious health conditions such as high blood pressure, heart disease, and diabetes. But now that health has once again become a primary focus in the modern era, patients and physicians alike have focused their attention on finding ways to treat rapid weight gain and achieve healthy weight loss.
                    </p>
                </div>
                <div class="blog-card-meta">
                    <div class="blog-card-date">February 7, 2023</div>
                    <a href="#" class="link-purple">Read more</a>
                </div>
            </div>
            <div class="blog-card">
                <div class="blog-card-author">Dr. Branden Staller</div>
                <div class="blog-card-title">How to take Victoza</div>
                <div class="blog-card-description">
                    <p>
                        Weight loss has always been a hot topic in the United States, especially as abnormal weight gain and obesity have become the leading causes of serious health conditions such as high blood pressure, heart disease, and diabetes. But now that health has once again become a primary focus in the modern era, patients and physicians alike have focused their attention on finding ways to treat rapid weight gain and achieve healthy weight loss.
                    </p>
                </div>
                <div class="blog-card-meta">
                    <div class="blog-card-date">February 7, 2023</div>
                    <a href="#" class="link-purple">Read more</a>
                </div>
            </div>
        </div>
        <div class="btn-wrapper">
            <div class="btn btn-black">
                Show more
            </div>
        </div>
    </div>
</section>


<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>