<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>

<section class="single-doctor-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-m-12 content-column">
                <div class="title-head">
                    <h1>Lissa Diaz, DO</h1>
                </div>
                <div class="doctor-image doctor-image-mobile">
                    <img src="./img/doctor-image.png" alt="">
                </div>
                <div class="doctor-content">
                    <p>
                        Dr. Lissa Diaz is a Board Certified Physician who has discovered her passion for aesthetics, anti aging and weight loss while working in Emergency Medicine. She appreciates the inherent beauty of medicine, how it can heal more than wounds, how it builds communities and has given her the opportunity to feel at home throughout the world.
                    </p>
                    <p>
                        Lissa remains fueled by the passion for helping people become the best and happiest versions of themselves. She is always learning and growing herself, building on her solid academic foundation and continuing to develop her expertise with active immersion in new methods and aesthetic trends. We love to discuss your lifestyle and treatment choices, and encourage open dialogue to promote wholebody wellness!
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-m-12">
                <div class="doctor-image doctor-image-pc">
                    <img src="./img/doctor-image.png" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12 col-m-12">
                <div class="doctor-education">
                    <h2>Education</h2>
                    <div class="education-item">
                        <div class="education-title">
                            Emergency Medicine Residency
                            <div class="education-date">2014-2018</div>
                        </div>
                        <div class="education-description">
                            <p>Rowan University Emergency Medicine Residency Program, Stratford, NJ Kennedy University Hospital, Stratford, Cherry Hill and Washington Township, NJ</p>
                        </div>
                    </div>
                    <div class="education-item">
                        <div class="education-title">
                            Doctor of Osteopathic Medicine
                            <div class="education-date">2014</div>
                        </div>
                        <div class="education-description">
                            <p>Rowan University School of Osteopathic Medicine, Stratford, NJ</p>
                        </div>
                    </div>
                    <div class="education-item">
                        <div class="education-title">
                            Bachelor of Science Nutritional Sciences
                            <div class="education-date">2008</div>
                        </div>
                        <div class="education-description">
                            <p>University of Florida, Gainesville, F</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-m-12"></div>
        </div>
        <div class="doctor-certificates">
            <div class="title-block">
                <h2>Certifications And Licensure</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-m-12">
                    <a class="doctor-certificate" href="#">Board Certified in Emergency Medicine</a>
                </div>
                <div class="col-lg-3 col-md-6 col-m-12">
                    <a class="doctor-certificate" href="#">TN Medical License</a>
                </div>
                <div class="col-lg-3 col-md-6 col-m-12">
                    <a class="doctor-certificate" href="#">NY Medical License</a>
                </div>
                <div class="col-lg-3 col-md-6 col-m-12">
                    <a class="doctor-certificate" href="#">FL Medical License</a>
                </div>
                <div class="col-lg-3 col-md-6 col-m-12">
                    <a class="doctor-certificate" href="#">Ohio Medical License</a>
                </div>
                <div class="col-lg-3 col-md-6 col-m-12">
                    <a class="doctor-certificate" href="#">Pennsylvania Medical License</a>
                </div>
                <div class="col-lg-3 col-md-6 col-m-12">
                    <a class="doctor-certificate" href="#">Connecticut Medical License</a>
                </div>
                <div class="col-lg-3 col-md-6 col-m-12">
                    <a class="doctor-certificate" href="#">COMLEX Level 1, 2, 3</a>
                </div>
            </div>
        </div>
        <div class="doctor-documents">
            <div class="title-block">
                \ <h2>Lissa Diaz, DO Credentials</h2>
            </div>
            <div class="documents-images">
                <img src="./img/Diploma1.png" alt="">
                <img src="./img/Diploma2.png" alt="">
                <img src="./img/Diploma3.png" alt="">
            </div>
        </div>
    </div>
</section>








<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>