<!--header.html-->
<%= _.template(require('../includes/common/header.html').default)({}) %>

<section class="single-location-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-m-12">
                <div class="map-wrapper">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3558.4472724085044!2d-80.1056658!3d26.8892967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88ded58e917a0a3d%3A0xc73f04af740b0f56!2s601%20Heritage%20Dr%20Suite%20208%2C%20Jupiter%2C%20FL%2033458%2C%20%D0%A1%D0%A8%D0%90!5e0!3m2!1sru!2sru!4v1723891084614!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-m-12">
                <div class="location-content">
                    <div class="title-head">
                        <h1>Santa Barbara</h1>
                        <div class="location-state">North Carolina</div>
                    </div>
                    <div class="location-contacts">
                        <div class="contact-link contact-link-address">
                            <div>601 Heritage Dr. Suite 208, Jupiter, FL 33458</div>
                        </div>
                        <div class="contact-link contact-link-phone">
                            <a href="#">1-866-725-6172</a>
                            <span>(24/7 General inquiry)</span>
                        </div>
                        <div class="contact-link contact-link-mail">
                            <a href="#">info@slimclinic.com</a>
                        </div>
                    </div>
                    <div class="location-buttons">
                        <a class="btn location-btn-back" href="#">Back to Locations</a>
                        <a class="btn btn-purple location-btn-nav" href="#">Navigation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--footer.html-->
<%= _.template(require('../includes/common/footer.html').default)({}) %>